body {
    font-family: 'Roboto';
    overflow-x: hidden;
}
.font_nav {
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21.6px; 
    letter-spacing: 0.5px;
    text-transform: uppercase;
}
header {
    border: 1px solid #000;
    padding: 30px 22px 30px 22px;
    box-sizing: border-box;
    height: 112px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn_nav{
    width: 157px;
    height: 52px;
    background: #FB4B4D;
    border: none;
    color: #FFF;
}
.logo {
   display: flex;
    width: 199.25px;
    padding: 0px 22.594px 0px 21.656px;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.circle{
    border: 1px solid #000;
    background: #FB4B4D;
    border-radius: 50%;
    height: 17px;
    width: 17px;
}
.second {
    background: #8B83F6;
}
main {
    display: flex;
}
.left_part {
    border: 1px solid #000;
    /* width: 697px; */
    width: 50%;
    border-top: none;
}
/* анимация бесконечной бегущей строки */
.margue_inf {
    box-sizing: border-box;
    padding: 24px 0 23px 0;
    border: 1px solid #000000;
    border-right: none;
    border-left: none;
    
    /* width: 697px; */
    width: 100%;
    height: 78px;
    overflow: hidden;
}
.margue_inf div {
    display: flex;
    width: 200%;
    justify-content: space-around;
    animation: margue_inf 10s linear infinite;
}
.margue_inf span {
    width: 100%;
    display: flex;
    
    
}
.murgue_text {
    font-family: 'Roboto';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25.92px; 
    letter-spacing: 0.5px;
    text-transform: uppercase;
    white-space: nowrap;   
}
.margue_img {
    margin-right: 28px;
    margin-left: 28px;
    width: 67px;
    height: 31px;
}
@keyframes margue_inf {
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-50%) ;
    }
}
 .img_sauce, .logo_ujjo {
    width: 100%;
    height: 383px;
}
.img_sauce {
    box-sizing: border-box;
    width: 100%;
    height: 436px;
    padding: 19px 20px 19px 19px;
}
.right_part {
    display: flex;
    flex-direction: column;
    border-right: 1px solid #000;
    border-bottom : 1px solid #000;
    width: 50%;
}
.right_part h1 {
    width: 536px;
    font-size: 58px; 
    line-height: 64.512px;
    text-align: center;
    margin: 0; 

}
.right_h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 233px;
    border-bottom: 1px solid #000;
}
.sauce_in_hand {
    flex: 1;
    margin: 20px;
    background-image: url(/image/sauce_in_hand.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.transition_assortment {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 20px;
    height: 273px;
    border: 1px solid #000;
    border-top: none;
}
.lava { 
font-size: 65px;
line-height: 72.576px; 
text-align: center;
width: 785px;
}
.scorpio {
    width: 225px;
    height: 156px;
}
.left {
    transform: scale(-1, 1);
}
.cards_product {
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    height: 700px;
    padding: 20px;
    border: 1px solid #000;
    border-top: none;
    border-bottom: none;
    text-align: center;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}
.wrapper_card {
    width: 437px;
    height: 658px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-end;
    
}
.wrapper_card p {
    font-size: 18px;
    line-height: 1.5;
    margin: 14px 0; 
}
.wrapper_card h3 {
    font-size: 32px;
    line-height: 1.18; 
    font-weight: 400;
    margin: 0;
}
.product {
    width: 390px;
    height: 411px;
    margin: 13px 0 23px;
}
.card_bg {
    position: absolute;
    z-index: -1 ;
}
.sq_incon {
    position: absolute;
}
.sq_incon_second {
    width: 58px;
    height: 58px;
    align-self: flex-end;
    padding-bottom: 60px;
}
.r_incon {
   width: 58px;
   height: 88px;
   z-index: 3;
}
.wrapper_icon {
    width: 23px;
    display: flex;
    justify-content: center; 
}

.wrapper_last_page > .margue_inf {
    border-left: none;
    border-right: none;
    position: relative;

    z-index: -1;
    
}
.wrapper_last_page > .margue_inf > .wrapper_margue, .margue_inf_second > .margue_inf > .wrapper_margue{
    
    animation: margue_inf 20s linear infinite;
} 
.photo {
    /* background-image: url(/image/photo_big.jpg);
    background-repeat: no-repeat;
    background-position: center center; */
    /* background-size: cover; */
    border: 1px solid #000;
    border-top: none;
    flex: 1;
    box-sizing: border-box;
    height: 722px;
    padding: 20px;
    display: flex;
}
.photo img {
    width: 100%;
    /* position: absolute; */
}
.history_sauce {
    border-left: 1px solid #000;
    border-right:1px solid #000;
    display: flex;
}
.story_preview {
    border-right: 1px solid #000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
}
.story_preview > h2 {
    box-sizing: border-box;
    font-size: 58px;
    line-height: 65px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    margin: 53px 54px 44px ;
}
.story {
    width: 50%;
    background-image: url(/image/bg_history.svg);
    background-repeat: no-repeat;
    background-position: center center   ;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 22px;
}
.story > p {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; 
    text-transform: uppercase;
    width: 392px;
    margin: 0;
}



.wrapper_last_page {
    background-image: url(/image/bg_last_page.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center ;
    height: 756px;
    border: 1px solid #000;
    border-top: none;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.last_page_logo {
    margin: 20px;
    background-image: url(/image/last_page_r.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center ;
    display: flex;
    flex: 1;
    width: 100%; 
    justify-content: center;
    padding: 107px 247px;
}
footer {
     border: 1px solid #000;
     border-top: none;
     height: 65px;
     background:  #CDFD3B;
     display: flex;
    align-items: center;
}
.footer_nav {
    margin: 0    ;
    list-style-type:none;
    display: flex;
    justify-content: space-around;
}
.footer_nav li {
    text-align: center;
}
.footer_nav a {
    text-decoration: none ;
    font-size: 15px;
    line-height: 24px; /* 160% */
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #000;
}

